:root {
    --background-color: #F5F5F5;
    --primary-color: #FFFFFF;
    --secundary-color: red;

    --button-primary-bg: #f0f1f2;
    --button-highlight-bg: #20ceb2;
    --button-header-bg: #d3dde5;
    --button-text-color: #697887;
    --button-text-weight: 700;

    --box-shadow: 0 0 20px -10px #999;
    --default-border-radius: 8px;
}