:root {
    --background-color: #F5F5F5;
    --primary-color: #FFFFFF;
    --secundary-color: red;

    --button-primary-bg: #f0f1f2;
    --button-text-color: #697887;
    --button-text-weight: 700;
    --button--hover-bg: #defae6;
    --button--hover-text: #789b82;

    --button-header-bg: #d3dde5;
    --button-header-text: #697887;
    --button-header-bg--hover: #bdc8d1;
    --button-header-text--hover: #5c6a79;

    --button-submit-bg: #20ceb2;
    --button-submit-text: #FFFFFF;
    --button-submit-bg--hover: #17aa92;
    --button-submit-text--hover: #FFFFFF;

    --button-clear-bg: #fdb3b3;
    --button-clear-text: #FFFFFF;
    --button-clear-bg--hover: #f89494;
    --button-clear-text--hover: #FFFFFF;

    --display-result-text: #505d69;

    --box-shadow: 0 0 20px -10px #999;
}