.container {
    background-color: var(--button-primary-bg);
    font-weight: var(--button-text-weight);
    color: var(--button-text-color);
    font-size: 1em;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border: none;
    border-radius: 40px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;

    transition: all .3s ease;

    &:hover {
        color: var(--button--hover-text);
        background-color: var(--button--hover-bg);
    }

    &:active {
        opacity: .5;
    }

    @media (max-width: 480px) {
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
    }
}

.submit {
    background-color: var(--button-submit-bg);
    color: var(--button-submit-text);
    font-weight: var(--button-text-weight);
    font-size: 1em;
    font-weight: 700;

    &:hover {
        background-color: var(--button-submit-bg--hover);
        color: var(--button-submit-text--hover);
    }
}

.highlight {
    background-color: var(--button-header-bg);
    color: var(--button-header-text);

    &:hover {
        color: var(--button-header-text--hover);
        background-color: var(--button-header-bg--hover);
    }
}

.zero-button {
    min-width: calc(100% - 70px);

    @media (max-width: 480px) {
        min-width: calc(100% - 50px);
    }

}